@media (width>=1340px) {
  header {
    width: 1340px;
    margin: auto;
  }
  main {
    width: 1340px;
    margin: auto;
  }
}
@media (width<=1024px) {
  nav ul{
    gap: 25px;
  }
  .logo {
    width: 13%;
    height: 100%;
} 
.hero_data {
  grid-template-columns: 100%;
  row-gap: 50px;
}
.logo_parent {
  grid-template-columns: 25% 25% 25%;
  row-gap: 30px;
}
.Detail-cards {
  grid-template-columns: 45% 45%;
  row-gap: 30px;
}
.parent_blog{
  grid-template-columns: 45% 45%;
  row-gap: 30px;
}
.footer_content_parent{
  grid-template-columns:30% 20% 25%;
  row-gap: 30px;
}

figure {
  font-size: 15px;
  margin-top: 10px;
}
.hero-left a,
.cards a ,.img_parent a {
  font-size: 15px;
}
.hero-left h2,
.heading h2, .form_heading h2, .blog_article h2 {
  font-size: 37px;
}
.hero-left p,
.cards p, .heading p ,.form_heading p ,.blog_article p ,.img_parent figcaption, .content_footer ul li a{
  width: 100%;
  font-size: 16px;
  text-align: justify;
}
.our_member{
  grid-template-columns: 45% 45% ;
  row-gap: 30px;
}
.names{
  font-size:  15px;
  margin: 2px 0;
}
/* form here  */
.form_parent{
  width: 80%;
}

/* footer here  */
.content_footer h3{
  font-size: 20px;
}
}

@media (width<=810px) {
  main{
    width: 100%;
  }
  .hero,
  .nav_bar{
    width: 90%;
  }
  nav ul{
    flex-direction: column;

  }
  .nav_bar_img{
    display: block;
  }
  nav{
    transform: translateX(-100%);
    width: 50%;
    height: 110vh;
    background-color:rgba(211, 211, 211, 0.911);
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 18px 10px;
    text-align: left;
    margin: 0;
    transition: transform .5s ease;
    visibility: hidden;
  }
  .coming{
    transform: translateX(0%);
  visibility: visible;    

  }
  .main_menu_logo .icon{
  display: inline;
  font-size: 27px;
  font-weight: 600;
  } 
  .logo {
    width: 20%;
  }
  .hero_data {
    grid-template-columns: 100%;
    row-gap: 50px;
  }
  .logo_parent {
    grid-template-columns: 25% 25% 25%;
    row-gap: 30px;
  }
  .Detail-cards {
    grid-template-columns: 45% 45%;
    row-gap: 30px;
  }
  .footer_content_parent{
    grid-template-columns:30% 20% 25%;
    row-gap: 30px;
  }
  figure {
    font-size: 12px;
    margin-top: 10px;
  }
  .hero-left a,
  .cards a ,.img_parent a {
    font-size: 13px;
  }
  .hero-left h2,
  .heading h2, .form_heading h2 ,.blog_article h2  {
    font-size: 35px;
  }
  .hero-left p,
  .cards p, .heading p ,.form_heading p, .blog_article p ,.img_parent figcaption, .content_footer ul li a{
    width: 100%;
    font-size: 14px;
    text-align: justify;
  }
  .our_member{
    grid-template-columns: 30% 30% 30%;
    row-gap: 30px;
  }
  .names{
    font-size:  15px;
    margin: 2px 0;
  }
  /* form here  */
  .form_parent{
    width: 80%;
  }
  .form_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding: 40px 0;
  }
  .input_field{
    grid-template-columns: 48% 48%;
  }
  /* footer here  */

  .content_footer h3{
    font-size: 16px;
  }
}

@media (width<=500px) {
  .main_menu_logo .active{
    font-size: 13px;
    position: relative;
    top: -3px;
  }
    .main_menu_logo .icon{
        display: inline;
        font-size: 23px;
        font-weight: 600;
    }    
  .logo {
    width: 30%;
  }
  .logo_parent {
    grid-template-columns: 45% 45%;
    row-gap: 20px;
  }
  .Detail-cards {
    grid-template-columns: 100%;
    row-gap: 30px;
  }
  .parent_blog{
    grid-template-columns: 100%;
    /* row-gap: 30px; */
  }
  .content_footer{
    padding: 0px;
  }
  .footer_content_parent{
    grid-template-columns:100%;
  }
  .quick-links, .company,.contact{
    padding-left: 20px;
    padding-top: 30px;
  }
  .hero-left h2,
  .heading h2, .form_heading h2, .blog_article h2 {
    font-size: 22px;
  }
  .cards figcaption{
    font-size: 18px;
    margin-top: 20px;
}
.hero-left p,
.cards p, .heading p,  .form_heading p ,.blog_article p, .img_parent figcaption ,.content_footer ul li a{
  font-size: 13px;
  text-align: justify;
}
.our_member{
    grid-template-columns: 45% 45%;
    row-gap: 30px;
  }
  .names{
    font-size:  11px;
    margin: 2px 0;
  }

  /* form here  */

  .form_parent{
    width: 90%;
    padding: 0px 25px;

  }
  .form_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  .input_field{
    grid-template-columns: 100%;
  }
  .input_field input, select, .text_area textarea{
    padding: 10px;
    margin: 7px 0;
    font-size: 11px;
  }
  .submit_btn{
    margin-top: 15px;
    font-size: 12px;
  }

  /* footer here  */

  .content_footer h3{
    font-size: 12px;
  }

  
}

